<div class="sales-tracking-container">
    <h2>Sales Tracking</h2>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity Sold</th>
          <th>Total Price</th>
          <th>Sale Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales">
          <td>{{ sale.productName }}</td>
          <td>{{ sale.quantity }}</td>
          <td>{{ sale.totalPrice | currency }}</td>
          <td>{{ sale.saleDate | date }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"><strong>Total Revenue:</strong></td>
          <!-- <td>{{ sales | sumTotalPrice | currency }}</td>  -->
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
  